<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{basePath}}style/core.css" />
    <link rel="stylesheet" href="{{basePath}}style/style.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_664004_02npc4cx8kuo9a4i.css">
    <script type="text/javascript" src="{{basePath}}script/jquery.js"></script>

</head>

<body>