<template src="public/head.html" basePath="../">
    { "title": "豆瓣" }
</template>

<div class="home-content">
    <div class="top-content">
        <div class="wrap"></div>
        <div class="loading-box">
            <i class="iconfont icon-jiazai"></i>
        </div>
    </div>
    <div class="hot-content">
        <div class="wrap"></div>
        <div class="loading-box">
            <i class="iconfont icon-jiazai"></i>
        </div>
    </div>
    <div class="search-content">
        <div class="search-input">
            <input type="search">
            <button>搜索</button>
        </div>
        <div class="search-result"></div>
        <div class="loading-box">
            <i class="iconfont icon-jiazai"></i>
        </div>
    </div>
</div>


<div class="site-footer">
    <div class="item">
        <i class="iconfont icon-paiming"></i>
        <p class="word">TOP250</p>
    </div>
    <div class="item">
        <i class="iconfont icon-remen"></i>
        <p class="word">即将上映</p>
    </div>
    <div class="item">
        <i class="iconfont icon-sousuo"></i>
        <p class="word">搜索</p>
    </div>
</div>


{{raw}}
<script id="tpl-douban" type="text/html">
    {{each $data}}
    <a href="{{$value.alt}}" class="item">
        <div class="item-img">
            <img src="{{$value.images.small}}" alt="">
        </div>
        <div class="item-info">
            <div class="item-name">{{$value.title}}</div>
            <div class="item-intro">
                <span style="color:#00B51D">{{$value.rating.average}}</span>
                <span>{{$value.collect_count}} 收藏</span>
            </div>
            <div class="item-intro">
                <span>{{$value.year}}</span>
                {{each $value.genres val key}}
                <span>{{val}}</span>
                {{/each}}
            </div>
            <div class="item-intro">
                <span>导演</span>
                {{each $value.directors val key}}
                <span>{{val.name}}</span>
                {{/each}}
            </div>
            <div class="item-intro">
                <span>主演</span>
                {{each $value.casts val key}}
                <span>{{val.name}}</span>
                {{/each}}
            </div>
        </div>
    </a>
    {{/each}}
</script>
{{/raw}}


<template src="public/footer.html" basePath="../"></template>